body {
    background-color: #212121;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.def {
    margin: 5px;
}

.board {
    margin-right: 400px;
}

.score {
    font-size: 38px;
    color: #F5F5DC;
}

.pos_score {
    color: #33FF00;
}

.neg_score {
    color: #FF0000;
}

.info {
    position: relative;
    font-size: 26px;
    top: 30%;
}

p, a {
    color: #F5F5DC;
}
